

  
  
  .package{
    list-style-type: none;
  }
  
  .pricing{
   padding-left: 1.5rem;
  }
  
  .parent{
    height: 300px;
    display: flex;
    border:2px solid yellow;
  }
  
  .child{
    background-color: red;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
  
  .icon-color
  {
    color:#1f38fa;
  
  }

  .card-title{
      color:#1f38fa;  
      font-size: 1.25rem;
  }
  .card-price{
      font-size: 3rem;
  }